<div class="container">
	<div class="card card-container">
		<h1>Alchemy Shop</h1>
		<h3>&nbsp;</h3>
		<img id="profile-img" class="profile-img-card" src="res/pic/card.png" />
		<p id="profile-name" class="profile-name-card"></p>

		<form class="form-signin">
			<span id="reauth-email" class="reauth-email"></span>
			<input type="text" id="inputCB" class="form-control" placeholder="Credit card number" required autofocus>
			<input type="text" id="inputName" class="form-control" placeholder="Expiration date" required>
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="button">Payment</button>
			<hr/>
			<a class="btn-lg btn-primary btn-block btn-signin" href="./" style="text-align: center">Back to Shop</a>
			<a class="btn-lg btn-primary btn-block btn-signin" href="?logout" style="text-align: center">Log Out</a>
		</form><!-- /form -->
	</div><!-- /card-container -->
</div><!-- /container -->