<div class="container-fluid">
	<h1></h1>

	<div class="form-row" >
		<div class="col"><h1>Alchemy Shop</h1></div>
		<div class="col col-sm-1">Hi {{firstname}}<br/>{{name}} !</div>
		<div class="col-1 col-sm-1">
			<a class="btn btn-primary" href="?logout" role="button">Log Out</a>
		</div>
		<div class="col-1 col-sm-1">
			<a class="btn btn-primary" href="?checkout" role="button">Checkout</a>
		</div>
	</div>

	<ul class="list-group col-sm-12">
		<li class="list-group-item active" >
			<form >
				<div class="form-row" >
					<div class="col-1 col-sm-6">
						<input type="text" readonly class="form-control-plaintext" style="color:white !important;font-weight: bold;" value="Designation">
					</div>
					<div class="col"></div>
					<div class="col-1 col-sm-1">
						<input type="text" readonly class="form-control-plaintext" style="color:white !important;font-weight: bold;" value="Price">
					</div>
					<div class="input-group col-sm-2" style="text-align: center">
						<input type="text" readonly class="form-control-plaintext" style="color:white !important;font-weight: bold;" value="Quantity">
					</div>
				</div>
			</form>
		</li>